<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>受講コース一覧</title>
</head>
<body>
<h1>受講コース一覧</h1>
<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>受講生ID</th>
    <th>コース名</th>
    <th>受講開始日</th>
    <th>受講終了予定日</th>
  </tr>
  </thead>
  <tbody>
  <!-- studentCourseListから1人ずつ取り出し -->
  <tr th:each="course: ${studentCourseList}">
    <td th:text="${course.id}">ID</td>
    <td th:text="${course.studentId}">受講生ID</td>
    <td th:text="${course.courseName}">コース名</td>
    <td th:text="${course.startDate}">受講開始日</td>
    <td th:text="${course.endDate}">受講終了予定日</td>
  </tr>
  </tbody>
</table>

</body>

</html>